<app-cebecera></app-cebecera>
<div class="container">
    <div class="col-12">
        <span class="col-6">Filtar publicaciones por Usuario: <input type="text" [(ngModel)]= "filtro"></span>
        Ordenadas por: 
        <select [(ngModel)]="orden">
            <option [ngValue]=1>Mas recientes primero</option>
            <option [ngValue]=2>Mas antiguas primero</option>
        </select>
    </div>
        
    <div class="row"> 
        <div *ngFor="let publicacion of publicaciones | ordenPublicaciones:orden | filtroPublicacion:filtro ">
            <app-publicacion [publicacion] = "publicacion" ></app-publicacion>
        </div>
    </div>      
</div>